<!DOCTYPE html>
<html>
  <head>
    <title>MNIST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>AYY LMAO</h1>
      <div class="row">
        <div class="col-md-6">
          <p>poop</p>
          <p>
            <button id="click" name="click" class="btn btn-default">LCICK ME</button>
          </p>
        </div>
        <div class="col-md-6">
          <p>output:</p>
	  <div id="output" name="output"></div>
        </div>
      </div>
    </div>
	<script>
	$('#click').click(function() {
		alert("Here");
		// $.ajax({
		// 	url: '/api/mnist',
		// 	method: 'POST',
		// 	contentType: 'text/html',
		// 	data: "ayy",
    //   success: function(data){
    //     alert(data);
    //   },
    //   error: function(err){
    //     alert(err);
    //     alert('error!');
    //   }
		// });
    var posting = $.post('/api/mnist', { 'aa': 'aa' } );
    posting.done(function( data ) {
      alert(data);
      alert('success');
    });
		return false;
	});
	</script>
  </body>
</html>
