<!DOCTYPE html>
<html>
  <head>
    <title>MNIST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>AYY LMAO</h1>
      <div class="row">
        <div class="col-md-6">
          <p>poop</p>
          <p>
          <form id="click" name="click">
            <label for="search">Search:</label>
            <input type="text" name="search"/> <br>
            <input type="submit" name="form" value="Send"/>
          </form>
          </p>
        </div>
        <div class="col-md-6">
          <p>output:</p>
	        <div id="output" name="output"></div>
        </div>
      </div>
    </div>
	<script>
	$('#click').submit(function() {
    var posting = $.post('/api/classify', $("#click").serialize() );
    posting.done(function( data ) {
      $('#output').html("");
      $('#output').append(data);
    //  $.each(data.results, function(idx, obj) {
        //$('#output').append(obj.name + "  ");
        //$('#output').append(obj.score);
        //$('#output').append('<br><br>');

    //  });
    });
	});
	</script>
  </body>
</html>
